# MYSQL
# FILE: ~/.my.cnf.d/client.cnf


# This group is read by the client library. Use it for options that affect all
# clients, but not the server
#------------------------------------------------------------------------------#

[client]
